body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sm1 {
  background-color: hsl(31, 77%, 52%);
  height: 480px;
  width: 240px;
}

.sm2 {
  background-color: hsl(184, 100%, 22%);
  height: 480px;
  width: 240px;
}

.sm3 {
  background-color: hsl(179, 100%, 13%);
  height: 480px;
  width: 240px;
}